@font-face {
  font-family: textFont;
  src: url(Jost-VariableFont_wght.ttf);
  font-style: normal;
}

@font-face {
  font-family: numFont;
  src: url(Spartan-VariableFont_wght.ttf);
  font-style: normal;
}

:root {
  --size_s3: max(0.9vw, 0.9vh);   /* 6px */
  --size_s2: max(1.5vw, 1.5vh);   /* 10px */
  --size_s1: max(1.95vw, 1.95vh); /* 13px */
  --size_0: max(2.4vw, 2.4vh);    /* 16px */
  --size_1: max(3vw, 3vh);        /* 20px */
  --size_2: max(3.75vw, 3.75vh);  /* 25px */
  --size_3: max(4.65vw, 4.65vh);  /* 31px */
  --size_4: max(6vw, 6vh);        /* 40px */
  --size_chart: max(50vw, 50vh); 

  --border: max(0.15vw, 0.15vh);

  /* colors */
  --main_green: #86AF49;
  --ligh_green:  #F5FCE8;
  --main_red: #C94040;
  --semi_white: rgba(255, 255, 255, 0.85);
  --text_color: #253014;

  --color_1: #C94040;
  --color_2: #40C9C9;
  --color_3: #C98540;
  --color_4: #4085C9;
  --color_5: #C9C940;
  --color_6: #4040C9;
  --color_7: #85C940;
  --color_8: #B340C9;
  --color_9: #40C940;
  --color_10: #C9409C;
}

:root .dark_theme {
    /* colors */
  --main_green: #86AF49;
  --ligh_green:  #253014;
  --main_red: #C94040;
  --semi_white: rgba(0, 0, 0, 0.85);
  --text_color: #F5FCE8;
}

*, html, body, h1, h2, h3, h4, h5, h6, a, img, ul, ol, li, div, span, b, time,
u, p, input, label, textarea, select, option {
  color: var(--text_color);
  font-family: textFont;
  font-size: var(--size_1);
  line-height: 1.3;
  font-weight: 300;
  font-style: normal;
  margin: 0;
  padding: 0;
  position: relative;
  border: 0;
  vertical-align: top;
  z-index: auto;
  box-sizing: border-box;
  transition: 1s ease-in-out;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--main_green);
}

h1 {
  text-transform: uppercase;
  color: var(--main_green);
  font-size: var(--size_s1);
}

h2 {
  font-family: numFont;
  font-weight: 600;
  font-size: var(--size_2);
  text-align: center;
  margin-bottom: var(--size_s3);
}

p.number {
  font-family: numFont;
}

p.light {
  font-weight: 200;
}

a {
  text-decoration: none;
}

a.add_link {
  font-weight: 400;
  color: var(--main_green);
}

p.over {
  color: var(--main_red);
}

select {
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  max-width: 100%;
  z-index: 9;
  background-image: url(ico_arrow.svg);
  background-repeat: no-repeat;
  background-size: var(--size_s2);
  background-position: center right;
  padding-right: var(--size_s1);
}

.period select {
  text-transform: uppercase;
}

.select {
  background-image: url(ico_arrow.svg);
  background-repeat: no-repeat;
  background-size: var(--size_s2);
  background-position: center right;  
}

.select select {
    opacity: 0;
    background: none;
    padding: 0;
      width: 100%;
}

.select .selected {
  position: absolute;
  padding-right: var(--size_s1);
  white-space: nowrap;
  top: 0;
}

.selected.transaction_type {
  height: 100%;
  top: 0;
  display: none;
  align-items: center;
  z-index: 0;
}

.selected.transaction_type svg {
  height: var(--size_0);
  opacity: 0.6;
}

.selected.transaction_type svg path {
  fill: var(--text_color);
}

.selected.transaction_type#type_transfer {
  display: flex;
}

[contenteditable] {
  outline: none;
  z-index: 999;
}

[contenteditable]:focus,
input:focus,
input:focus::placeholder {
  font-size: larger !important;
}

.transaction input,
.transaction datalist,
.transaction option {
  appearance: none;
  background-color: transparent;
  border: none;
  outline: none;
}

input::placeholder {
  opacity: 0.5;
}

.transaction input {
  width: 100%;
}

.transaction input,
input::placeholder {
  font-size: var(--size_s1);
  color: var(--text_color);
  font-weight:  200;
}

input[type=date] {
  font-weight: 300;
}

input[type=checkbox] {
  width: 30px;
  height: 30px;
}

input[type=checkbox] {
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  max-width: 100%;
  z-index: 9;
  background-repeat: no-repeat;
  background-size: var(--size_s2);
  background-position: center right;
  padding-right: var(--size_s1);
}

input[type=checkbox]:checked {
  background-image: url(ico_checked.svg);
}

.clear:after {  clear: both;
  content: " ";
  display: block;
  height: 0;
  visibility: hidden; }

*, *:before, *:after {  box-sizing: border-box; }

/* styles */
.wrap {
  padding: var(--size_s2);
}

.row {
  display: flex;
}

.top {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999; /* 9999 */
  justify-content: space-between;
  background-color: var(--main_green);
  margin-bottom: var(--size_s3);
  border-radius: 0 0 var(--size_s1) var(--size_s1);
}

.logo svg {
  height: var(--size_4);
}

.logo svg path,
.menu svg path {
  fill: var(--semi_white);
}

.ico_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu .svg {
  margin-left: var(--size_2);
}

.menu svg {
  height: var(--size_2);
}

.menu_active svg {
  height: var(--size_4);
}

.section {
  background-color: var(--semi_white);
  border-radius: var(--size_s1) var(--size_s1) 0 0;
  width: 100%;
  margin-bottom: var(--size_s1);
}

.section_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.section_row.no_number {
  margin-top: var(--size_s3);
}

.section_row.period {
  padding-bottom: var(--size_s3);
  color: var(--main_green);
}

.underline {
  height: var(--border);
  background-color: var(--main_green);
  opacity: 0.15;
  margin-top: var(--size_s3);
  margin-bottom: var(--size_s2);
}

.left::before {
  content: "left";
  font-family: textFont;
  font-weight: 300;
  margin-right: var(--size_s2);
  font-size: var(--size_s1);
}

h2.left::before {
  font-size: var(--size_0);
}

.budget_row {
  margin-top: var(--size_s3);
  margin-bottom: var(--size_0);
}

.budget_row p.number span {
  font-size: var(--size_s2);
}

.budget_line,
.budget_fill {
  border-radius: var(--size_s3);
  height: var(--size_s2);
}

.budget_line {
  background-color: var(--ligh_green);
  width: 100%;
  margin-top: calc(var(--size_s3)/2);
  overflow: hidden;
}

.budget_fill {
  background-color: var(--main_green);
  opacity: 0.5;
}

.over .budget_fill {
  background-color: var(--main_red);
}

.section_row.transaction {
  margin-top: var(--size_0);
}

.section_row.transaction .transaction_coll:nth-last-of-type(2),
.section_row.transaction .transaction_coll:last-of-type {
  width: 30%;
}

.section_row.transaction .transaction_coll:first-of-type p {
  font-size: var(--size_s1);
}

.transaction§ *:not([class="number"]) {
  font-size: var(--size_s1);
}

.not_set {
  opacity: 0.5;
}

/* charts */
.chart {
  height: var(--size_chart);
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.chart svg {
  height: 100%;
  opacity: 0.5;
  position: absolute;
}

.chart_donut svg circle {
  fill: transparent;
  stroke-width: 16%;
  stroke: var(--color_1);
  stroke-dasharray: calc(6 * 42%);
}

.chart_donut svg circle {
  cx: 50%;
  cy: 50%;
  r: 40%;
  visibility: hidden;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes visib {
  from {visibility: hidden;}
  to {visibility: visible;}
}

@keyframes part1 {
  from { stroke-dashoffset: 0;}
  to { stroke-dashoffset: -125.5;}
}
@keyframes part2 {
  from { stroke-dashoffset: 0;}
  to { stroke-dashoffset: -62.75;}
}
@keyframes part3 {
  from { stroke-dashoffset: 0;}
  to { stroke-dashoffset: -31.38;}
}
@keyframes part4 {
  from { stroke-dashoffset: 0;}
  to { stroke-dashoffset: -15.69;}
}

.chart_donut svg:nth-child(1) circle {
  animation-name: visib, part1;
}

.chart_donut svg:nth-child(2) circle {
  stroke: var(--color_2);
  animation-name: visib, part2;
  animation-delay: 1s;
}

.chart_donut svg:nth-child(3) circle {
  stroke: var(--color_3);
  animation-name: visib, part3;  
  animation-delay: 2s;
}

.chart_donut svg:nth-child(4) circle {
  stroke: var(--color_4);
  animation-name: visib, part4;
  animation-delay: 3s;
}

.chart_donut svg:nth-child(5) circle {
  stroke: var(--color_5);
  animation-name: visib, part4;
  animation-delay: 4s;
}

@keyframes count {
  0% {content: "00.00";}
  50% {content: "7 348.57";}
  75% {content: "8 184.57";}
  87.5% {content: "8 932.57";}
  93.75% {content: "9 268.57";}
  100% {content: "9 604.57";}
}

.chart_donut h2::after {
  content: ".00";
  animation-name: count;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.chart_row .dot {
  display: flex;
  align-items: center;
}

.chart_row .dot:before {
  content: "";
  display: block;
  width: var(--size_0);
  height: var(--size_0);
  border-radius: 50%;
  background-color: var(--color_1);
  margin-right: var(--size_s1);
  opacity: 0.5;
}

.chart_legend .legend_row:nth-of-type(2) .dot:before {
  background-color: var(--color_2);
}

.chart_legend .legend_row:nth-of-type(3) .dot:before {
  background-color: var(--color_3);
}

.chart_legend .legend_row:nth-of-type(4) .dot:before {
  background-color: var(--color_4);
}

.chart_legend .legend_row:nth-of-type(5) .dot:before {
  background-color: var(--color_5);
}

.chart_legend .legend_row {
  opacity: 0;
  height: 0;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes disp {
  from {}
  to {opacity: 1; height: fit-content;}
}

.chart_legend .legend_row:nth-of-type(1) {
  animation-name: disp;
}

.chart_legend .legend_row:nth-of-type(2) {
  animation-name: disp;
  animation-delay: 1s;
}

.chart_legend .legend_row:nth-of-type(3) {
  animation-name: disp;
  animation-delay: 2s;
}

.chart_legend .legend_row:nth-of-type(4) {
  animation-name: disp;
  animation-delay: 3s;
}

.chart_legend .legend_row:nth-of-type(5) {
  animation-name: disp;
  animation-delay: 4s;
}








